<template lang="">
    <div>
        <form id="register-form">
            <div class="form-group">
                <label for="name">Name :</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="">
                <small id="emailHelpId" class="form-text text-muted">Enter Name</small>
            </div>

            <div class="form-group">
                <label for="email">Email :</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="">
                <small id="emailHelpId" class="form-text text-muted">Enter email</small>
            </div>
            

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="">
            </div>
            <button type="submit" class="btn btn-primary my-2">Submit</button>
        </form>
    </div>
</template>
<script>
export default {
    
}
</script>
<style lang="">
    
</style>